FLASK_ENV=production
FLASK_DEBUG=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=skuapi
AWS_REGION=us-east-2
AWS_DOMAIN=https://skuapi.s3.us-east-2.amazonaws.com/
AWS_BUCKET_FOLDER=testing_remover/